@keyframes start {
    from    {background-image: url('white.jpg');}
    to      {background-image: url('background.jpg');}
}

@keyframes fadein {
    from {opacity: 0; margin-left: 10vw; margin-right: 0vw;}
    to   {opacity: 0.9; margin-left: 5vw; margin-right: 5vw;}
}

@keyframes main {
	from {opacity: 0; margin-left: 10vw;}
	to   {opacity: 0.9; margin-left: 5vw;}
}

@keyframes sidebar {
	from {opacity: 0; margin-right: 0vw;}
	to   {opacity: 0.9; margin-right: 5vw;}
}

body {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: start;
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

a {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
	width: inherit;
	height: inherit;
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: inherit;
}

.header {    
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    margin-top: 3vw;
    background-color: #004aad;
    border-radius: 4vw 4vw 0 0;
    padding: 1.5vw;
    height: 20vw;
    align-content: center;
}

.emanuele-ti-spiega-i {
	float:left;
	height: 12vw;
	padding-left: 3vw;
	padding-top: 4vw;
}

.bonus {
	float: left;
	height: 11vw;
	padding-right: 3vw;
	padding-left: 3.5vw;
	padding-top: 5vw;
}

.navbar {
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 3.5s;
    animation-fill-mode: both;
    background-color: #006dff;
    border-radius: 0 0 4vw 4vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}


.main {
    animation-name: main;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
    background-color: #fdfbfe;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    float: left;
    border-radius: 4vw;
    font-family: "Raleway";
    width: 60vw;
    height: 72vw;
}

.main1 {
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
    background-color: #fdfbfe;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    border-radius: 4vw;
    padding: 4vw;
    font-family: "Raleway";
    font-size: 1.6vw;
}

.main2 {
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
    background-color: white;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    border-radius: 4vw;
    font-family: "Raleway";
}

.main3 {
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 4.5s;
    animation-fill-mode: both;
    background-color: white;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    border-radius: 4vw;
    font-family: "Raleway";
}

.sidebar {
    animation-name: sidebar;
    animation-duration: 3s;
    animation-delay: 4.5s;
    animation-fill-mode: both;
    background-color: #d7f6f9;
    margin-top: 2.5vw;
    float: right;
    width: 25vw;
    height: 72vw;
    border-radius: 4vw;
    font-family: "Raleway";
}

.footer {
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: both;
    background-color: white;
    margin-bottom: 2.5vw;
    border-radius: 4vw;
    font-family: "Raleway";
    background-color: #004aad;
    font-family: "Raleway";
}

.footer1 {
    animation-name: main;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: both;
    background-color: white;
    margin-bottom: 2.5vw;
    border-radius: 4vw;
    font-family: "Raleway";
    background-color: #004aad;
    font-family: "Raleway";
    float: left;
}

.ul1 {
    list-style-type: none;
    color: white;
    font-family: "Raleway";
    font-size: 1.6vw;
}

.ul2 {
    list-style-type: none;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.6vw;
}

.ul3 {
    list-style-type: none;
    padding-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.6vw;
}

.ul4 {
    list-style-type: none;
    padding-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.2vw;
    color: white;
}

.li1 {
    display: inline;
    padding: 1.2vw;
}

.li2 {
    list-style-type: none;
}

.li3 {
	list-style-type: none;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.element1 {
	float: left;
    padding-top: 2.5vw;
	padding-bottom: 1.5vw;
	border-bottom-style: dashed;
    border-bottom-width: 0.25vw;
}

.video1 {
	float: left;
}

.descrizione1 {
    float: left;
    padding-left: 3vw;
    width: 26.9vw;
    height: 19vw;
}

.element2 {
	padding-top: 2.5vw;
	float: left;
	padding-bottom: 3vw;
}

.video2 {
	float: left;
}

.descrizione2 {
    float: left;
    padding-left: 3vw;
    width: 26.9vw;
    height: 19vw;
}

.lele {
    padding-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    float: left;
}

.descrizionelele {
    padding: 4vw;
    font-size: 1.6vw;
}

.img2 {
    width: 30vw;
    height: auto;
    border-radius: 2vw;
}

.descrizionefine {
    width: 36vw;
    padding-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    float: left;
    font-size: 1.6vw;
}

.fine {
    padding: 4vw;
}

.img3 {
    width: 38vw;
    height: auto;
    border-radius: 2vw;
}

@media only screen and (max-width: 600px) 

{
	.ul1 {
		font-size: 11px;
	}

	iframe {
		width: 120px;
		height: 90px;
	}

	.img1 {
		width: 120px;
		height: 90px;
	}

    .footer1 {
        width: 87vw;
    }
}

@media only screen and (min-width: 600px) 

{
	iframe {
		width: 140px;
		height: 105px;
	}

	.img1 {
		width: 140px;
		height: 105px;
	}

    .footer1 {
        width: 87vw;
    }
}

@media only screen and (min-width: 768px)

{
	iframe {
		width: 180px;
		height: 135px;
	}

	.img1 {
		width: 180px;
		height: 135px;
	}

    .footer1 {
        width: 87vw;
    }
}

@media only screen and (min-width: 1080px)

{
	iframe {
		width: 240px;
		height: 180px;
	}

	.img1 {
		width: 240px;
		height: 180px;
	}

    .footer1 {
        width: 87.5vw;
    }
}

@media only screen and (min-width: 1200px)

{
	iframe {
		width: 280px;
		height: 210px;
	}

	.img1 {
		width: 280px;
		height: 210px;
	}

    .footer1 {
        width: 88vw;
    }
}

@media only screen and (min-width: 1500px)

{
	iframe {
		width: 360px;
		height: 270px;
	}

	.img1 {
		width: 360px;
		height: 270px;
	}

    .footer1 {
        width: 88.5vw;
    }
}

@media only screen and (width: 1920px)

{
	iframe {
		width: 440px;
		height: 330px;
	}

	.img1 {
		width: 440px;
		height: 330px;
	}

    .footer1 {
        width: 88.5vw;
    }
}